.footer{
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0;
    bottom: 0;
    background-color: #E5E5E5;
}

.textFooter{
    font-size: 70%;
    margin-right: 3%;
}

.topTextFooter{
    margin-top: 2%;
    margin-bottom: .3%;
}



.bottonTextFooter{
    margin-bottom: 2%;
}


.middleTextFooter{
    margin-top: .3%;
    margin-bottom: .3%;
    align-items: right;
}

.float-start
{float:left!important}

.float-end{float:right!important}

.float-none{float:none!important}

.object-fit-contain{-o-object-fit:contain!important;
    object-fit:contain!important}
